/*! указываем глобальные переменные */

:root {
    --color-white: white;
    --color-dark: #140a32;
    --color-green: #33836e;
    --color-dark-gray: rgba(47, 43, 67, 0.7);
    --color-light-gray: rgba(47, 43, 67, 0.5);

    --border-radius: 10px;
    --border: 1px solid rgba(47, 43, 67, 0.15);

    --font-family-base: 'Open-Sans', sans-serif;

    --input-height: 56px;

    --container-width: 1140px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;

    /* header-height */
}

body {
    font-family: var(--font-family-base);
    font-weight: 400;
    color: var(--color-dark);
    font-size: 16px;
    background-color: var(--color-white);
}

/*! Селектор для полного скрытия элемента  */

.visually-hidden{
    /* в качестве подстраховки указываем ключевое слово important. Теперь бургер кнопка будет удобна для пользователей скринридеров. */
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

svg *[fill] { fill: currentColor; }
svg *[stroke] { stroke: currentColor; }

svg * {
    transition-property: fill, stroke;
}

a,
button,
textarea,
input,
svg * {
    transition-duration: var(--transition-duration);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    letter-spacing: -0.03em;
}

h1 {
    font-size: 38px;
    line-height: 1.5;
}

h1:not(:last-child) {
    margin-bottom: 15px;
}

.title {
    font-size: 32px;
    line-height: 1.375;
}

textarea {
    resize: none;
}

/*! Утилитарный класс параграфа  */

.paragrath {
    line-height: 1.6;
}

a {
    text-decoration: none;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}


/*! Утилитарный класс button  */

.button {
    display: inline-flex;
    /* выравниваем текст по центру по побочной оси */
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-weight: 600;
    height: 56px;
    border-radius: var(--border-radius);
    cursor: pointer;
    white-space: nowrap;
}

.button.small {
    padding-inline: 20px;
}

.button.medium {
    padding-inline: 24px;
}

.button.large {
    padding-inline: 36px;
}

.button.has-icon {
    display: flex;
    /* добавляем центрирование по центру по главной оси, чтобы даже при удалении блока с текстом, иконка располагалась по центру кнопки */
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.button.dark {
    background-color: var(--color-dark);
    outline: 1px solid transparent;
}

.button.green {
    background-color: var(--color-green);
    /* Сначало добавляем прозрачную обводку, который пользователь изначально не увидит. А затем, при наведении, меняем цвет обводки на зеленый. В свойстве transition-duration значение 0.2s. Это означает, что цвет обводки будет плавно меняться в течении 0.2 секунд. */
    outline: 2px solid transparent;
}

.button.transparent {
    background-color: transparent;
}

.button.gray {
    background-color:#e0ece9;
    color: var(--color-green);
}

/*! Стили кнопок при наведении на них  */

.button.green:hover {
    color: var(--color-dark);
    background-color: var(--color-white);
    outline-color: var(--color-green);
}

.button.dark:hover {
    background-color: var(--color-white);
    color: var(--color-dark);
}

.button.gray:hover {
    color: var(--color-dark);
}

.section {
    margin-bottom: 80px;
}



/*! Стили для форм - полей ввода  */

.form {
    display: flex;
    column-gap: 15px;
}

.form-field {
    position: relative;
}

.label {
    position: absolute;
    left: 16px;
    top: 7px;
    color: rgba(47, 43, 67, 0.4);
    font-size: 12px;
    line-height: 1.33;
}

.input {
    width: 100%;
    height: var(--input-height);
    padding: 26px 10px 8px 16px;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    outline: none;
}


.agreement-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
}

.agreement-link:hover {
    text-decoration: underline;
}

/*! Медиазапросы  */

@media (max-width: 1200px) {
    .container {
        max-width: calc(930px + var(--container-padding-x) * 2);
    }

    h1 {
        font-size: 34px;
    }
}

@media (max-width: 993px) {
    .container {
        max-width: calc(710px + var(--container-padding-x));
    }
    
    h1 {
        font-size: 30px;
        text-align: center;
    }

    .title {
        font-size: 28px;
    }

    .section {
        margin-bottom: 40px;
    }
}

@media (max-width: 700px) {
    .container {
        max-width: calc(510px + var(--container-padding-x));
    }

    h1 {
        font-size: 22px;
    }

    .title {
        font-size: 20px;
    }

    .paragrath {
        font-size: 14px;
    }

    /*! Утилитарный класс формы  */

    .form {
        flex-direction: column;
        row-gap: 15px;
    }

    .form-field {
        width: 100%;
    }

    .input {
        height: 50px;
        font-size: 14px;
    }
}